# Некоторые файлы занесены сюда временно, так как находятся на стадии сырой разработки.
# Наличие этих файлов — не секрет.

src/master/callbacks.py
src/master/keyboards.py
src/oerChat/databases/users.py
src/oerChat/publisherside.py

.venv
.env
*.db
*pycache*
planlist.md